<ion-header style="margin-bottom: 10px">
  <ion-toolbar>
    <ion-title>Allegati</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none; margin-bottom: 20px;" class="whitesmoke">
    <input type="file" id="file" (change)="selectFile()" expand="block" style="margin: 0px 0px 10px 0px; height: 50px;" class="whitesmoke">
    <ion-button *ngIf="boolInvia" (click)="uploadFile()" expand="block" style="margin: 0px; height: 50px;">
      <ion-icon name="send-outline" slot="start" size="large"></ion-icon>INVIA
    </ion-button>
    <ion-button *ngIf="!boolInvia" color="medium" expand="block" style="margin: 0px; height: 50px;">
      <ion-icon name="send-outline" slot="start" size="large"></ion-icon>INVIA
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let allegato of allegati">
          <ion-grid>
            <ion-row>
              <ion-list-header>
                <ion-col>{{ allegato.mittente_cognome }} {{ allegato.mittente_cognome }}</ion-col>
                <ion-col>{{ allegato.data_ora | date: 'short'}}</ion-col>
              </ion-list-header>
            </ion-row>
            <ion-row>
              <ion-col>{{ allegato.testo }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="openAllegato(allegato.allegato)" fill="clear">
                  <ion-icon name="open-outline" size="large"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)= "downloadAllegato(allegato.allegato, allegato.testo)" fill="clear" style="height: fit-content;">
                  <ion-icon name="download-outline" size="large"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>