<ion-header>
  <ion-toolbar>
    <ion-title>
      Accesso con Autenticazione
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/consulto']" routerDirection="forward">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="primary" style="font-size: 20px;">
      Login
    </ion-card-header>
    <ion-card-content padding>
      <p *ngIf="!loggedIn"> <br> Inserisci le tue credenziali di Zoom</p>
      <ion-list *ngIf="!loggedIn">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button *ngIf="!loggedIn" expand="full" (click)="login()">Login</ion-button>
      <br>
      <ion-text *ngIf="!loggedIn">Non sei registrato a Zoom ?</ion-text>
      <ion-button *ngIf="!loggedIn" expand="full" href="https://zoom.us/signup">Registrati a Zoom</ion-button>
      <ion-button *ngIf="loggedIn" expand="full" (click)="logout()">Logout</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="loggedIn">
    <ion-card-header>
      Meeting
    </ion-card-header>
    <ion-card-content padding>
      <div padding>
        <ion-button expand="full" fill="outline" (click)="startInstantMeeting()">Start an Instant Meeting</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot>
      <ion-tab-button [routerLink]="['/zoom-non-login']" routerDirection="forward" style="width: 100%;">
        <ion-icon name="arrow-forward-circle-outline" color="main"></ion-icon>
        <ion-label>Diretto</ion-label>
      </ion-tab-button>
      <ion-tab-button style="width: 100%;">
        <ion-icon name="key-outline" color="primary"></ion-icon>
        <ion-label color="primary">Autenticazione</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>