<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/consulto']">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-row *ngFor="let messaggio of messaggi">
      <ion-col size='9' *ngIf="utenteCorrente != messaggio.mittente_id" class="message other-message">
        <b>{{ messaggio.mittente_nome }} {{ messaggio.mittente_cognome }}</b>
        <br>
        <span>{{ messaggio.testo }}</span>
        <div class="time" text-right>
          <br>
          {{ messaggio.data_ora | date: 'short'}}
        </div>
      </ion-col>
      <ion-col offset='3' size='9' *ngIf="utenteCorrente == messaggio.mittente_id" (click)="deleteMessageAlert(messaggio.id_messaggio)" class="message my-message">
        <b>{{ messaggio.mittente_nome }} {{ messaggio.mittente_cognome }}</b>
        <br>
        <span>{{ messaggio.testo }}</span>
        <div class="time" text-right>
          <br>
          {{ messaggio.data_ora | date: 'short'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="message-input">
    <ion-row>
      <ion-col size=8>
        <textarea autosize maxRows="4" class="message-input" autosize [(ngModel)]="nuovo_messaggio" style="width: 100%;"></textarea>
      </ion-col>
      <ion-col>
        <ion-button  expand='block' fill='clear' color='primary' [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()" [disabled]="nuovo_messaggio == ''">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>